<!DOCTYPE html>
<html>
<head>
  <title>Convert <%= @base_currency %></title>
</head>
<body>
  <h1>Convert <%= @base_currency %></h1>
  <ul>
    <% @other_currencies.each do |currency| %>
      <li>Convert 1 <%= @base_currency %> to 1 <%= currency %></li>
    <% end %>
  </ul>
</body>
</html>
