<!DOCTYPE html>
<html>
<head>
  <title>Conversion</title>
</head>
<body>
  <h1>Convert <%= params['base_currency'].upcase %> to <%= params['target_currency'].upcase %></h1>
  <p><%= @conversion_text %></p>
  <p><a href="/<%= params['base_currency'] %>">Back</a></p>
</body>
</html>
